@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/css/font-awesome.css';

html,
body,
#root {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  height: 100%;
  background: #E5E5E5;
}

.app-header {
  background: #3359DF;
  padding: 0 20px;
  width: 100%;
  padding: .5rem 1rem;
  color:#FFFFFF;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-header .app-logo {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-animation: spin infinite 40s linear;
  animation: spin infinite 40s linear;
  display: inline-block;
  vertical-align: middle
}

.app-header .brand, .app-header a{
  display: inline-block;
  font-size: 1.25rem;
  height: 30px;
  white-space: nowrap;
  color: #FFFFFF;
}

.app-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameCard {    background-color: #FFFFFF;
  background-image: linear-gradient(to right bottom, #454545 50%, #FFFFFF 50%);
  background-image: -webkit-linear-gradient(to right bottom, #454545 50%, #FFFFFF 50%);
  // height: 250px;
  // width: 200px;
  color: #fff;
  border-radius: 5px;
 /* padding: 2px 20px; */
 font-size: 120%;
 margin: 10px;
}

.gameCard .gameCardText {border-radius: 10px;
  background: #454545;
  padding: 2px;
  margin: 13px;
  font-weight: bold;
  text-align: center;
}
.gameCardIcon{
  color: #454545;
}
.gameCardCircle{
  color: #FFFFFF;
}