@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/css/font-awesome.css";
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Lato:700");

html,
body,
#root {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  height: 100%;
  background: #e5e5e5;
}

.app-header {
  background: #3359df;
  padding: 0 20px;
  width: 100%;
  padding: 0.5rem 1rem;
  color: #ffffff;
}
.app-body h2 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  text-align: center;
  color: #454545;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-header .app-logo {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-animation: spin infinite 40s linear;
  animation: spin infinite 40s linear;
  display: inline-block;
  vertical-align: middle;
}

.app-header .brand,
.app-header a {
  display: inline-block;
  font-size: 1.25rem;
  height: 30px;
  white-space: nowrap;
  color: #ffffff;
}

.app-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.gameCard {
  background-color: #ffffff;
  background-image: linear-gradient(to right bottom, #454545 50%, #ffffff 50%);
  background-image: -webkit-linear-gradient(
    to right bottom,
    #454545 50%,
    #ffffff 50%
  );
  color: #fff;
  border-radius: 20px;
  margin: 10px;
  height: 350px;
  width: 250px;
}

.gameCard .gameCardText {
  border-radius: 10px;
  background: #454545;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  padding: 5px 20px;
}
.gameCardIcon {
  color: #454545;
}
.gameCardCircle {
  color: #ffffff;
}
.inner-circle-icon {
  color: #454545;
  font-size: 1.8em;
  margin-top: 2px;
}
.outer-circle-icon.fa-stack-2x {
  font-size: 1.9em;
}
.fa-stack-open-border {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: white;
  border: 7px solid #454545;
  box-shadow: 0 0 0 5px white;
}
